.container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.list-items{
    cursor:pointer;

}
li:hover{
    color:blueviolet;
}
h2{
    color:blueviolet;
}
