<div class="container">

    <h2>Companies</h2>

    <div class="row">

        <div class="list-items">
            <ol class="list-group">
                <li *ngFor="let company of companies" class="list-group-item" [class.active]="company === selectedCompany" (click)="onSelect(company)">
                "{{ company.name }}"  -> {{ company.city }}
                </li>
            </ol>
        </div>

        <div class="selected-vacancies" *ngIf="selectedCompany">
            <app-vacancy-list [companyId]="selectedCompany.id"></app-vacancy-list>
        </div>

    </div>

  </div>